{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {% if request.resolver_match.url_name == 'cmsutils_imageupdates_changelist' %}
    <li>
        <a href="{% url 'admin:imageupdates_approved_list' %}">Audit</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'admin:cmsutils_imageupdates_changelist' %}">Back to main list</a>
    </li>
    {% endif %}
    <li>
        <a class="addlink" href="{% url 'admin:imageupdates_upload_csv' %}">Upload CSV</a>
    </li>
    {% comment %} {{ block.super }} {% endcomment %}
{% endblock %}
